* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.title-m {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

header {
    width: 100%;
    background-color: #4CAF50;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.auth {
    margin-top: 20px;
}

.content_auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:900px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}

.box_auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.form #loginBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    margin: 15px auto;
}
.form #registerBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    margin: 15px auto;
}
.form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.auth_header {
    margin: 30px 0;
}